/* Sidebar.css */
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff; /* Track and thumb colors */
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background: #fff; /* Color of the track */
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the thumb */
    border-radius: 20px; /* Roundness of the thumb */
    border: 3px solid #fff; /* Border around the thumb */
  }
  